<section
    class="flex flex-col justify-evenly min-h-screen lg:grid lg:grid-cols-2 lg:gap-16 w-full mx-auto items-center lg:max-w-7xl lg:flex-row p-4 gap-8 lg:py-24 py-20"
>
    <div class="flex flex-col gap-8">
        <h2
            class="text-3xl lg:text-4xl font-semibold mx-auto lg:whitespace-nowrap"
        >
            Sobre nosotros...
        </h2>
        <img src="/contactp.png" alt="Logo" class="w-full" />
    </div>
    <div class="flex flex-col gap-8 text-md lg:text-xl lg:max-w-md">
        <p>
            Lorem ipsum dolor sit amet consectetur. Nam vitae consequat non arcu
            massa felis ac lectus. Nam amet aenean blandit quisque. Volutpat
            volutpat tempus nibh nam hendrerit massa faucibus. Ornare etiam enim
            sed commodo ipsum in.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur. Nam vitae consequat non arcu
            massa felis ac lectus. Nam amet aenean blandit quisque. Volutpat
            volutpat tempus nibh nam hendrerit massa faucibus. Ornare etiam enim
            sed commodo ipsum in.
        </p>

        <a
            href="/nosotros"
            class="flex items-center gap-2 border border-black text-[#051314] rounded-full max-w-max px-4 py-2 text-sm self-start"
        >
            Ver más <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M9 6l6 6l-6 6"></path></svg
            >
        </a>
    </div>
</section>
