<section
    class="min-h-screen flex flex-col lg:grid lg:grid-cols-4 lg:grid-rows-2"
>
    <!-- Cuadro Servicios -->
    <div
        class="bg-[#666695] p-9 flex flex-col justify-between order-2 lg:order-none"
    >
        <div class="flex justify-between items-center">
            <div class="flex items-center gap-2">
                <div class="size-10 bg-[#EFE8E6]"></div>
                <h3 class="text-4xl text-white font-medium block lg:hidden">Servicios</h3>
            </div>
            <a
                href="/servicios"
                class="px-4 py-2 border rounded-full border-[#EFE8E6] text-[#EFE8E6] text-sm flex items-center gap-2"
            >
                Ver m치s
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M9 6l6 6l-6 6"></path>
                </svg>
            </a>
        </div>
        <h3 class="text-4xl text-white font-medium hidden lg:block">Servicios</h3>
    </div>

    <!-- Imagen Servicios -->
    <div
        class="w-full h-full bg-[url('/servicios.png')] min-h-40 bg-center bg-cover order-1 lg:order-none"
    >
    </div>

    <!-- Cuadro Nosotros -->
    <div
        class="bg-[#AD5319] p-9 flex flex-col justify-between order-4 lg:order-none"
    >
        <div class="flex justify-between items-center">
            <div class="flex items-center gap-2">
                <div class="size-10 bg-[#EFE8E6]"></div>
                <h3 class="text-4xl text-white font-medium block lg:hidden">Nosotros</h3>
            </div>
            <a
                href="/nosotros"
                class="px-4 py-2 border rounded-full border-[#EFE8E6] text-[#EFE8E6] text-sm flex items-center gap-2"
            >
                Ver m치s
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M9 6l6 6l-6 6"></path>
                </svg>
            </a>
        </div>
        <h3 class="text-4xl text-white font-medium hidden lg:block">Nosotros</h3>
    </div>

    <!-- Imagen Nosotros -->
    <div
        class="w-full h-full bg-[url('/nosotros.png')] min-h-40 bg-center bg-cover order-3 lg:order-none"
    >
    </div>

    <!-- Imagen Proyectos -->
    <div
        class="w-full h-full bg-[url('/proyectos.png')] min-h-40 bg-center bg-cover order-5 lg:order-none"
    >
    </div>

    <!-- Cuadro Proyectos -->
    <div
        class="bg-[#3A411D] p-9 flex flex-col justify-between order-6 lg:order-none"
    >
        <div class="flex justify-between items-center">
            <div class="flex items-center gap-2">
                <div class="size-10 bg-[#EFE8E6]"></div>
                <h3 class="text-4xl text-white font-medium block lg:hidden">Proyectos</h3>
            </div>
            <a
                href="/proyectos"
                class="px-4 py-2 border rounded-full border-[#EFE8E6] text-[#EFE8E6] text-sm flex items-center gap-2"
            >
                Ver m치s
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M9 6l6 6l-6 6"></path>
                </svg>
            </a>
        </div>
        <h3 class="text-4xl text-white font-medium hidden lg:block">Proyectos</h3>
    </div>

    <!-- Imagen Contacto -->
    <div
        class="w-full h-full bg-[url('/contacto.png')] bg-center bg-cover min-h-40 order-7 lg:order-none"
    >
    </div>

    <!-- Cuadro Contacto -->
    <div
        class="bg-[#66594D] p-9 flex flex-col justify-between order-8 lg:order-none"
    >
        <div class="flex justify-between items-center">
            <div class="flex items-center gap-2">
                <div class="size-10 bg-[#EFE8E6]"></div>
                <h3 class="text-4xl text-white font-medium block lg:hidden">Contacto</h3>
            </div>


            <a
                href="/contacto"
                class="px-4 py-2 border rounded-full border-[#EFE8E6] text-[#EFE8E6] text-sm flex items-center gap-2"
            >
                Ver m치s
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M9 6l6 6l-6 6"></path>
                </svg>
            </a>
        </div>
        <h3 class="text-4xl text-white font-medium hidden lg:block">Contacto</h3>
    </div>
</section>
